@model ProyectoParqueoUSAM.Models.TICKET

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TICKET</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_TICKET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_TICKET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoloFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIEMPO_PARQUEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEMPO_PARQUEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO_FINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUGAR_PARQUEO.NOMBRE_PARQUEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGAR_PARQUEO.NOMBRE_PARQUEO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TICKET }) |
    @Html.ActionLink("Back to List", "Index")
</p>
