<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Parqueo App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:navy">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Parqueo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @if (Session["Usr"] != null)
        {
            @Html.ActionLink("Bienvenido ," + @HttpContext.Current.Session["Usr"].ToString(), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        }
        else
        {
            @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-road" })
        }
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active nav-link">
                @Html.ActionLink("Inicio", "Index", "Home")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Tickets", "Index", "Tickets")
            </li>

            <li class="dropdown nav-link">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mantenimientos
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item nav-link">@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Roles", "Index", "Roles")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Ubicaciones", "Index", "Lugar_parqueo")</li>
                </ul>
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Cerrar Sesion ", "CerrarSesion", "Salir")
            </li>
           
        </ul>
    </div>
    </nav>

    <div class="container body-content" style="margin-top:25px; background-color:ghostwhite">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Parqueo App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
